@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@1,400;1,500&display=swap');

.container {
    background-color: #6667ab;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}

 a{
    text-decoration :none;
    color: white;
    font-size: 20px;
    font-family: 'Archivo Narrow', sans-serif;
 }

 a:hover{
     text-decoration: underline;
 }